In [1]:
import pandas as pd

In [5]:
df_nameslist1 = pd.read_csv('//Data/FIFA World Cup 2022 Player Data/stats_combined.csv', delimiter=',', usecols=['player', 'position', 'team', 'age'])
df_nameslist2 = pd.read_csv('//Data/FIFA World Cup 2022 Player Data/stats_combined_keepers.csv', delimiter=',', usecols=['player', 'position', 'team', 'age'])
df_tweetdata = pd.read_csv('//Data/FIFA World Cup 2022 Twitter Dataset/tweets_sentiment.csv', delimiter=',', usecols=['Tweet Content', 'Sentiment'])

In [6]:
full_list = [df_nameslist1, df_nameslist2]
df_nameslist = pd.concat(full_list)
df_nameslist

                  player position         team  age
0             Aaron Mooy       MF    Australia   32
1           Aaron Ramsey       MF        Wales   31
2      Abdelhamid Sabiri       MF      Morocco   26
3      Abdelkarim Hassan       DF        Qatar   29
4   Abderrazak Hamdallah       FW      Morocco   32
..                   ...      ...          ...  ...
36       Wayne Hennessey       GK        Wales   35
37     Wojciech Szczƒôsny       GK       Poland   32
38              W√©verton       GK       Brazil   35
39           Yann Sommer       GK  Switzerland   34
40        Yassine Bounou       GK      Morocco   31

[721 rows x 4 columns]

In [7]:
df_tweetdata.head()

,Tweet Posted Time,Tweet Content,Sentiment
0,15 Dec 2022 08:41:23,"""Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...",neutral
1,15 Dec 2022 08:41:23,"""ùêàùê≠. ùêÇùêöùêßùêßùê®ùê≠. ùêÜùêûùê≠. ùêÅùê¢ùê†ùê†ùêûùê´. ùêìùê°ùêöùêß. ùêìùê°ùê¢ùê¨. üî•\n\nGet...",neutral
2,15 Dec 2022 08:41:22,"""üéÅ CONCOURS SORARE üéÅ\n\nJOUEUR √Ä GAGNER : SEKO...",neutral
3,15 Dec 2022 08:41:22,"""It‚Äôll be a tough night for Europe today.\n\n#...",neutral
4,15 Dec 2022 08:41:22,"""In defeat or in victory, always say Alhamduli...",positive

In [18]:
result_dict = {'player' : [], 'position' : [], 'team' : [], 'age' : [], 'mentions_count' : [], 'sentiment_score' : [], 'positive_tweets' : [], 'neutral_tweets' : [], 'negative_tweets' : []}
iteration = 0
for name in df_nameslist['player']: # Calculates the number of mentions, sentiment_score, positive, neutral, and negative tweets per player
    name_parts = name.split()
    first_name = name_parts[0]
    last_name = ' '.join(name_parts[1:]) if len(name_parts) > 1 else name_parts[0]
    last_name = ' ' + last_name + ' '

    name_df = df_tweetdata[(df_tweetdata['Tweet Content'].str.lower().str.contains(last_name.lower(), regex=False))] 
    
    mentions_count = len(name_df)
    positive_count = len(name_df[name_df['Sentiment'] == 'positive'])
    neutral_count = len(name_df[name_df['Sentiment'] == 'neutral'])
    negative_count = len(name_df[name_df['Sentiment'] == 'negative'])
    
    if mentions_count > 0:
        sentiment_score = positive_count - negative_count
    else:
        sentiment_score = 0
        
    result_dict['player'].append(name)
    result_dict['position'].append(df_nameslist['position'].iloc[iteration])
    result_dict['team'].append(df_nameslist['team'].iloc[iteration])
    result_dict['age'].append(df_nameslist['age'].iloc[iteration])
    result_dict['mentions_count'].append(mentions_count)
    result_dict['sentiment_score'].append(sentiment_score)
    result_dict['positive_tweets'].append(positive_count)
    result_dict['neutral_tweets'].append(neutral_count)
    result_dict['negative_tweets'].append(negative_count)
    
    iteration += 1

In [24]:
result_df = pd.DataFrame(result_dict)
df_sentiment_mentions = result_df
df_sentiment_mentions.to_csv('/Data/FIFA World Cup 2022 Twitter Dataset/sentiment_mentions.csv', index=False)

In [20]:
result_df

,player,position,team,age,mentions_count,sentiment_score,positive_tweets,neutral_tweets,negative_tweets
0,Aaron Mooy,MF,Australia,32,0,0,0,0,0
1,Aaron Ramsey,MF,Wales,31,0,0,0,0,0
2,Abdelhamid Sabiri,MF,Morocco,26,0,0,0,0,0
3,Abdelkarim Hassan,DF,Qatar,29,0,0,0,0,0
4,Abderrazak Hamdallah,FW,Morocco,32,57,1,1,56,0
...,...,...,...,...,...,...,...,...,...
716,Wayne Hennessey,GK,Wales,35,0,0,0,0,0
717,Wojciech Szczƒôsny,GK,Poland,32,0,0,0,0,0
718,W√©verton,GK,Brazil,35,0,0,0,0,0
719,Yann Sommer,GK,Switzerland,34,0,0,0,0,0
720,Yassine Bounou,GK,Morocco,31,47,3,4,42,1

In [21]:
filtered_df = result_df[result_df['mentions_count'] > 100]
filtered_df #Testing

,player,position,team,age,mentions_count,sentiment_score,positive_tweets,neutral_tweets,negative_tweets
14,Achraf Dari,DF,Morocco,23,180,43,43,137,0
15,Achraf Hakimi,DF,Morocco,24,1360,426,448,890,22
16,Adrien Rabiot,MF,France,27,472,2,4,466,2
63,Antoine Griezmann,MF,France,31,1072,424,431,634,7
83,Azzedine Ounahi,MF,Morocco,22,747,99,99,648,0
134,Cristiano Ronaldo,FW,Portugal,37,238,6,39,166,33
237,Hakim Ziyech,FW,Morocco,29,897,159,162,732,3
257,Hugo Lloris,GK,France,35,122,44,46,74,2
263,Ibrahima Konat√©,DF,France,23,160,72,72,88,0
377,Kylian Mbapp√©,FW,France,23,787,392,407,365,15
388,Lionel Messi,FW,Argentina,35,5858,1005,1043,4777,38
393,Lucas Hern√°ndez,DF,France,26,242,25,25,217,0
470,Nahuel Molina,DF,Argentina,24,450,12,12,438,0
502,Olivier Giroud,FW,France,36,651,37,38,612,1
530,Randal Kolo Muani,FW,France,24,698,66,66,632,0
532,Rapha√´l Varane,DF,France,29,692,47,48,643,1
591,Sofiane Boufal,FW,Morocco,29,468,15,23,437,8
592,Sofyan Amrabat,MF,Morocco,26,686,240,247,432,7
614,Theo Hern√°ndez,DF,France,25,242,25,25,217,0
696,Hugo Lloris,GK,France,35,122,44,46,74,2

In [22]:
secfiltered_df = df_tweetdata[df_tweetdata['Tweet Content'].str.lower().str.contains(' messi ', regex=False)]
secfiltered_df #Testing

                                           Tweet Content Sentiment
0      "Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...   neutral
11     "Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...   neutral
22     "Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...   neutral
35     "Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...   neutral
36     "Field par Messi aur Mbappe‚Ä¶ studio mein @Wayn...   neutral
...                                                  ...       ...
99774  "Birinde takƒ±ma sempatim var Messi ye yok ; di...   neutral
99795  "üëèüá¶üá∑ ¬°El socio de Lionel Messi que hace 5‚É£ mes...  positive
99871  "Lionel Messi and Kylian Mbappe played key rol...  positive
99876  "Things you love to see üëá\n\nLeo Messi putting...  positive
99971  "#FIFAWorldCup \n\n#Qatar2022 tiene dos golead...   neutral

[5858 rows x 2 columns]